/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
    /*border-top: 1px solid #EAECF0;*/
    /*border-radius: 2px;*/
}

.accordion__item  {
    border-top: 1px solid #EAECF0;
    transition: 0.3s;
}
.accordion__item:hover + .accordion__item{
    border-top: 1px solid #667085;
}
.accordion__item:hover {
    border-top: 1px solid #667085;
}

.accordion__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*background-color: #f4f4f4;*/
    color: #202121;
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    text-align: left;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;


    text-transform: uppercase;
}

.accordion__button:hover {
    /*background-color: rgb(240, 243, 249);*/
    /*border-radius: 10px;*/
    /*color: #1eaae2;*/
}


.accordion__button:before {
    display: inline-block;
    content: url("./plus.svg");
    height: 20px;
    width: 20px;
    margin-right: 8px;
    /*border-bottom: 2px solid currentColor;*/
    /*border-right: 2px solid currentColor;*/
    /*transform: rotate(-45deg);*/
    /*margin-left: 8px;*/
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    content: url("./minus.svg");
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding-bottom: 20px;
    animation: fadein 0.35s ease-in;

}
.accordion__panel p {
    color: #667085;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}